name: Node.js CI

on:
  push:
    branches: [ main ]  

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2           # code checkout
    - name: Setup Node
      uses: actions/setup-node@v3
      with:
        node-version: '18'
    - run: npm install                     # dependencies install
    - run: npm test                        # tests run
